.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px;
}

.gridBox {
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.case {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 243, 223);
  border: 1px solid rgb(158, 158, 158);
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.case:hover {
  cursor: pointer;
  background-color: rgb(45, 167, 45);
}

.caseOK {
  background-color: green !important;
}
.cazeKO {
  background-color: red !important;
}

.gridRow {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.boom {
  font-size: 16px;
}

.ps {
  position: absolute;
  top: 2px;
  font-size: 24px;
  left: 680px;
}

.gridAXES{
  color: rgb(146, 144, 144) !important;
  background-color: rgb(4, 36, 4) !important;

}